* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Karrik';
    src: url('../fonts/Karrik-Regular.woff2') format('woff2'),
         url('../fonts/Karrik-Regular.woff') format('woff'),
         url('../fonts/Karrik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.contactContent {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-background {
    background-image: url('../images/about-bakgrund.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contactTextArea {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0 0 0 1.5%;
    color: #262523;
    width: 20vw;
    padding-top: 5vh;
}

.linkedin-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linkedin-logo {
    background: none;
    width: 8vw;
    padding-bottom: 3vh;
}

@media (orientation: portrait){
    .contactContent {
        flex-direction: column;
        height: 50vh;
    }

    .contactTextArea {
        display: flex;
        flex-direction: column;
        justify-content: left;
        color: #262523;
        width: 100vw;
        padding-top: 5vh;
    }

    .buttonscontainer {
        width: 100%;
    }

    .buttons {
        width: auto;
        align-items: center;
        margin-right: 0;
        margin-left: 0;
    }

    .linkedin-container {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
    
    .linkedin-logo {
        width: 15vw;
        padding-bottom: 1.5vh;
    }
}