* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Karrik';
    src: url('../fonts/Karrik-Regular.woff2') format('woff2'),
         url('../fonts/Karrik-Regular.woff') format('woff'),
         url('../fonts/Karrik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.aboutContent {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-background {
    background-image: url('../images/about-bakgrund.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.aboutTextArea {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0 0 0 1.5%;
    color: #262523;
    width: 20vw;
    padding-top: 5vh;
}

.aboutmeinfo {
    width: 40vw;
    font-size: 1.5vw;
    color: #fff7f0;
}

.aboutmeinfo p {
    margin-top: 2vh;
    user-select: none;
}

.profile-pic {
    width: 25vw;
    background-color: #BF4342;
    object-fit: cover;
    border-radius: 100%;
}

@media (orientation: portrait){
    .aboutContent {
        flex-direction: column;
        height: 70vh;
    }

    .aboutTextArea {
        display: flex;
        flex-direction: column;
        justify-content: left;
        color: #262523;
        width: 100vw;
        padding-top: 5vh;
    }

    .aboutmeinfo {
        width: 80vw;
        font-size: 5vw;
        color: #fff7f0;
    }
    
    .profile-pic {
        width: 50vw;
        background-color: #BF4342;
        object-fit: cover;
        border-radius: 100%;
    }
}