* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Karrik';
    src: url('../fonts/Karrik-Regular.woff2') format('woff2'),
         url('../fonts/Karrik-Regular.woff') format('woff'),
         url('../fonts/Karrik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'outward';
    src: url('../fonts/outward-block-webfont.woff2') format('woff2'),
         url('../fonts/outward-block-webfont.woff') format('woff'),
         url('../fonts/outward-block-webfont.ttf') format('truetype')
         url('../fonts/outward-block-webfont.svg') format('svg'),
         url('../fonts/outward-block-webfont.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

header {
    position: fixed;
    align-items: center;
    padding-right: 5vw;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0 30px 0 0;
    display: flex;
    justify-content: space-between;
    z-index: 110;
    background-color: #fff7f0;
    border-bottom: 1px solid #262523;
    border-top: 1px solid #262523;
    font-family: Karrik, sans-serif;
    user-select: none;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.nav-container {
    display: flex;
    justify-content: right;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5vw;
}

.navname {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: outward, sans-serif;
    position: relative;
    width: 120px;
    min-width: 120px;
    height: 100%;
    font-size: 4.1em;
    color: #262523;
    border-right: 1px solid #262523;
}

.menu-icon {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #262523;
    margin-left: auto;
}
  
.dropdown-nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff7f0;
    text-align: center;
    padding: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 100;
}
@media (orientation: portrait){
    header {
        height: auto;
        flex-direction: column;
    }

    .navname {
        height: auto;
        border: none;
    }
    
    .menu-icon {
        display: block;
    }

    .nav {
        display: none;
        width: 100%;
    }
    
    .dropdown-nav {
        display: flex;
        width: 100%;
        position: static;
        background: #fff7f0;
        text-align: center;
        padding: 1rem;
        flex-direction: column;
    }
    
    .dropdown-nav a {
        font-size: 1.2rem;
        padding: 0.5rem 0;
    }
}