img {
    width: 25%;
    padding:10px;
    background-color: #BF4342;
    object-fit: cover;
}

.list {
    margin-top: 2vh;
}

@media (orientation: portrait){
    img {
        width: 50%;
    }
    .list {
        margin-top: 40vh;
    }
}