* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'outward';
    src: url('../fonts/outward-block-webfont.woff2') format('woff2'),
         url('../fonts/outward-block-webfont.woff') format('woff'),
         url('../fonts/outward-block-webfont.ttf') format('truetype')
         url('../fonts/outward-block-webfont.svg') format('svg'),
         url('../fonts/outward-block-webfont.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

.title {
    display: flex;
    justify-content: left;
    font-family: outward, sans-serif;
    font-size: calc(10vh + 20vw);
    color: #262523;
    margin: 0;
    padding: 0;
    line-height: 0.705;
    height: 100%;
    user-select: none;
}

.designtitle {
    display: flex;
    justify-content: left;
    font-family: outward, sans-serif;
    font-size: calc(10vh + 20vw);
    color: #BF4342;
    margin: 0;
    padding: 0;
    line-height: 0.705;
    height: 100%;
    user-select: none;
}

.aboutmetitle {
    display: flex;
    justify-content: left;
    font-family: outward, sans-serif;
    font-size: calc(10vh + 20vw);
    color: #BF4342;
    margin: 0;
    padding: 0;
    line-height: 0.705;
    height: 100%;
    user-select: none;
}

.contacttitle {
    display: flex;
    justify-content: left;
    font-family: outward, sans-serif;
    font-size: calc(10vh + 20vw);
    color: #BF4342;
    margin: 0;
    padding: 0;
    line-height: 0.705;
    height: 100%;
    user-select: none;
}

@media (orientation: portrait){
    .title {
        font-size: calc(15vh + 30vw);
        line-height: 0.71;
    }

    .aboutmetitle {
        font-size: calc(15vh + 30vw);
        line-height: 0.71;
    }

    .contacttitle {
        font-size: calc(15vh + 30vw);
        line-height: 0.71;
    }

    .designtitle {
        font-size: calc(15vh + 30vw);
        line-height: 0.71;
    }
}