* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.undercontent {
    height: 25vh;
    width: 30vw;
    display: flex;
    justify-content: left;
    position: absolute;
    margin-left: 16vw;
    margin-bottom: 9vh;
}

.undercontent-intro {
    max-width: 30vw;
    align-content: start;
}

.undercontent-intro h2 {
    font-size: calc(1vh + 1vw);
    color: #262523;
    user-select: none;
}

@media (orientation: portrait){
    .undercontent {
        height: 25vh;
        width: 30vw;
        display: flex;
        justify-content: left;
        position: absolute;
        margin-left: calc(5vh + 18vw);
        margin-top: calc(5vh + 4vw);
    }

    .undercontent h2 {
        font-size: calc(1vw + 1vh);
    }
}