* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Karrik';
    src: url('../fonts/Karrik-Regular.woff2') format('woff2'),
         url('../fonts/Karrik-Regular.woff') format('woff'),
         url('../fonts/Karrik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    font-family: Karrik, sans-serif;
    min-height: 100vh;
    display: flex;
    width: 100%;
    padding-top: 10vh;
    overflow: hidden;
    flex-direction: column;
}

.normal-background {
    background-color: #fff7f0;
}

.about-background {
    background-image: url('../images/about-bakgrund.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.photo-background {
    background-image: url('../images/grain2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (orientation: portrait){
    .wrapper{
        padding-top: 6vh;
        height: auto;
        overflow-y: scroll;
    }
}